	/**** CHAT ****/
	
	body {
		background: #DBE1ED;
		font-family: Helvetica;
		margin: 0 0 0 10px;
		padding: 0;
		-webkit-user-select: none;
		-webkit-text-size-adjust: none;
		}
		
		 div.bubble {
			margin: 10px 10px 0 0px;
			width: 80%;
			clear: both;
		}
		
		
		
		 div.right {
			float: right;
			}
			
		 div.left {
			float: left;
			}
			
			
			 div.right p {
				border-width: 10px 20px 12px 10px;
			}
			
			 div.left p {
				border-width: 10px 10px 12px 20px;
			}
			
			/* lefties */
			
			 div.left p.lime {
				-webkit-border-image: url(../images/chat_bubbles_lime_l.png) 10 10 13 19;
				}
				
			 div.left p.lemon {
				-webkit-border-image: url(../images/chat_bubbles_lemon_l.png) 10 10 13 19;
				}
				
			 div.left p.orange {
				-webkit-border-image: url(../images/chat_bubbles_orange_l.png) 10 10 13 19;
				}
				
			 div.left p.aqua {
				-webkit-border-image: url(../images/chat_bubbles_aqua_l.png) 10 10 13 19;
				}
				
			 div.left p.purple {
				-webkit-border-image: url(../images/chat_bubbles_purple_l.png) 10 10 13 19;
				}
				
			 div.left p.pink {
				-webkit-border-image: url(../images/chat_bubbles_pink_l.png) 10 10 13 19;
				}
				
			 div.left p.graphite {
				-webkit-border-image: url(../images/chat_bubbles_graphite_l.png) 10 10 13 19;
				}
				
			 div.left p.clear {
				-webkit-border-image: url(../images/chat_bubbles_clear_l.png) 10 10 13 19;
				}
				
				
				
				
			/*rights*/	
			
			 div.right p.aqua {
				-webkit-border-image: url(../images/chat_bubbles_aqua_r.png) 10 19 13 10;
				}
				
			 div.right p.lemon {
				-webkit-border-image: url(../images/chat_bubbles_lemon_r.png) 10 19 13 10;
				}
				
			 div.right p.lime {
				-webkit-border-image: url(../images/chat_bubbles_lime_r.png) 10 19 13 10;
				}
				
			 div.right p.purple {
				-webkit-border-image: url(../images/chat_bubbles_purple_r.png) 10 19 13 10;
				}
				
			 div.right p.pink {
				-webkit-border-image: url(../images/chat_bubbles_pink_r.png) 10 19 13 10;
				}
				
			 div.right p.graphite {
				-webkit-border-image: url(../images/chat_bubbles_graphite_r.png) 10 19 13 10;
				}
				
			 div.right p.clear {
				-webkit-border-image: url(../images/chat_bubbles_clear_r.png) 10 19 13 10;
				}
				
				
				
				
				
			
		
		 div.bubble p {
			color: #000;
			font-size: 14px;
			margin: 0;
		}
		
		p.center {
			color: #666;
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			margin: 0;
			padding: 20px 20px 0 0;
			clear: both;
		}
			
			p.right {
				color: #666;
				text-align: right;
				font-size: 12px;
				font-weight: bold;
				margin: 0;
				padding: 20px 20px 0 0;
				clear: both;
			}
			
			p.left {
				color: #666;
				text-align: left;
				font-size: 12px;
				font-weight: bold;
				margin: 0;
				padding: 20px 0 0 20px;
				clear: both;
			}
		
